*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

img{
    height: auto;   
    width: 100%;
    display: block;
}

body,
html{
    width: 100vw;
    line-height: 1.6;
    letter-spacing: 1.5px;
}

.wrapper{
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

header,
.userInputCountry,
.userInputSegment {
    height: 100vh;
    width: 100vw;
}

.userInputSegmentFlex,
.submitSection {
    width: 100vw;
}

header,
.inputContainer{
    background: rgba(0,0,0,0.85);
    color: white;
}

header,
.userInputForm,
.userInputCountry,
.userInputSegment,
.submitSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.userInputSegment{
    flex-direction: row;
        input{
            opacity: 0;
            position: absolute;
        }
}

label{
    background: rgba(0,0,0,0.75);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 3%;
    position: relative;
    margin: 0 5%;
}

button{
    padding: 12px 7%;
    border-radius: 10px;
    border: one;
    border: none;
    text-transform: uppercase;
    letter-spacing: 8px;
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 1.5rem;
    margin-top: 3%;    
    font-weight: bold;
    // position: absolute;
    // bottom: 50px;
        // svg {
        //     height: 55px;
        //     width: 150px;
        //     fill: none;
        //     stroke-width: 5;

        //     .o1 {
        //         stroke: rgba(#FFB341, 0.7);
        //         fill: #FFA114;
        //         transition: all 1s ease-in-out;
        //     }

        //     .o2 {
        //         stroke: white;
        //         stroke-dasharray: 20 420;
        //         stroke-dashoffset: 20;
        //         transition: all 1s ease-in-out;
        // }
        // span {
        //     position: absolute;
        //     margin: auto 0;
        //     text-transform: uppercase;
        //     letter-spacing: 3px;
	    // }
	}
