*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

img{
    height: auto;
    width: 100%;
    display: block;
}

body,
html{
    width: 100vw;
    line-height: 1.6;
    letter-spacing: 1.5px;
}

.wrapper{
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

header,
.userInputCountry,
.userInputSegment,
.submitSection{
    height: 100vh;
    width: 100vw;
}

header,
.inputContainer{
    background: rgba(0,0,0,0.85);
    color: white;
}

header,
.userInputForm,
.userInputCountry,
.userInputSegment,
.submitSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.userInputCountry,
.userInputSegment{
    flex-direction: row;
        input{
            opacity: 0;
        }
}

label{
    background: rgba(0,0,0,0.75);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 2%;
}
