.start{
    bottom: 50px;
}


// Idea came from this: https://codepen.io/Moslim/pen/zwJPgL
h1 {
	background-image: url(https://media.giphy.com/media/l0CRCxtNyUteI6hI4/giphy.gif);
	background-size: cover;
	background-position: center;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
    margin-bottom: 5%;
}