.results {
    display: none;
    padding-bottom: 5%;
        .refresh{
            background: none;
            color: black;
            font-size: 60px;
            position: sticky;
            top: 0;
            left: 2%;
            padding: 0;
            border: none;
        }
        .resultsHeader{
            text-align: center;
            h2{
                text-transform: uppercase;
                font-size: 8vw;
            }
            p{
                font-size: 3vw;
                span{
                    color: rgb(46, 170, 201);
                    text-decoration: italic;
                    text-transform: italic;
                    font-style: italic;
                    font-weight: bold;
                }
            }

            
        }
        .eventGrid {
            display: grid;
            grid-template-columns: 50% 50%;
            margin-top: 3%;
        }
}

.eventContainer {
    display: grid;
    grid-template-columns: 33% 64%;
    border: 1px solid lightgray;
    padding: 15px;
    grid-gap: 20px;
        .eventInfoContainer {
            padding-left: 10px;
            h3 {
                line-height: 1;
            }
                .buyTickets{
                    background: rgb(46, 170, 201);
                    text-align: center;
                    padding: 1% 3%;
                    margin-top: 2%;
                        a{
                            text-decoration: none;
                            text-transform: uppercase;
                            color: white;
                            font-weight: bold;
                        }
                }
        }
        .imageContainer {
            
            img {
                min-width: 150px;
            }
        }
}

@media(max-width: 1050px){
    .eventContainer{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 800px){
    .results{
        .refresh{
            font-size: 50px;
        }
        .eventGrid{
            grid-template-columns: 1fr;
        }
    }
    .eventContainer{
        grid-template-columns: 33% 64%;
    }
}

@media(max-width: 500px){
    .results{
        .refresh{
            font-size: 32px;
        }
        .resultsHeader{
            p{
                font-size: 4vw;
            }
        }
    }
    .eventContainer{
        grid-template-columns: 1fr;
            .eventInfoContainer{
                font-size: 4vw;
            }
    }
}




