article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: 100%;
  display: block;
}

body,
html {
  width: 100vw;
  line-height: 1.6;
  letter-spacing: 1.5px;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

header,
.userInputCountry,
.userInputSegment {
  height: 100vh;
  width: 100vw;
}

.userInputSegmentFlex,
.submitSection {
  width: 100vw;
}

header,
.inputContainer {
  background: rgba(0, 0, 0, 0.85);
  color: white;
}

header,
.userInputForm,
.userInputCountry,
.userInputSegment,
.submitSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.userInputSegment {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.userInputSegment input {
  opacity: 0;
  position: absolute;
}

label {
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 3%;
  position: relative;
  margin: 0 5%;
  border-radius: 20px;
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

button {
  padding: 12px 7%;
  border-radius: 10px;
  border: one;
  border: none;
  text-transform: uppercase;
  letter-spacing: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5rem;
  margin-top: 3%;
  font-weight: bold;
}

.start {
  bottom: 50px;
}

h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .75;
  margin: 10px 0;
}

.userInputSegment {
  background-size: cover;
  background-position: center;
  background-repeat: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userInputSegment label {
  font-size: 100px;
}

.userInputCountry {
  background-image: url(../assets/select-background.jpg);
  background-position: fixed;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.userInputCountry select {
  font-size: 50px;
  padding: 3% 0 3% 5%;
  border-radius: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.25);
  border: none;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.hidden {
  display: none;
  border: 1px solid red;
  padding: 1%;
  margin-top: 2%;
  background: rgba(255, 255, 255, 0.75);
  font-weight: bold;
  color: black;
}

.results {
  display: none;
}

.results .resultsHeader {
  text-align: center;
}

.results .resultsHeader h2 {
  margin-top: 5%;
  text-transform: uppercase;
  font-size: 75px;
}

.results .resultsHeader p {
  font-size: 25px;
}

.results .resultsHeader p span {
  color: #86c0e4;
  -webkit-text-decoration: italic;
          text-decoration: italic;
  text-transform: italic;
  font-style: italic;
  font-weight: bold;
}

.results .eventGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.eventContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 64%;
      grid-template-columns: 33% 64%;
  border: 1px solid lightgray;
  padding: 15px;
  grid-gap: 20px;
}

.eventContainer .eventInfoContainer {
  padding-left: 10px;
}

.eventContainer .eventInfoContainer h3 {
  line-height: 1;
}

.eventContainer .eventInfoContainer .buyTickets {
  background: #86c0e4;
  text-align: center;
  padding: 1% 3%;
  margin-top: 2%;
}

.eventContainer .eventInfoContainer .buyTickets a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.eventContainer .imageContainer img {
  min-width: 150px;
}

button,
label {
  cursor: pointer;
}

input[type='radio']:checked + label,
input[type='radio']:focus + label {
  background: rgba(255, 255, 255, 0.5);
  color: black;
  font-weight: bold;
}

input[type='radio']:hover + label,
input[type='radio']:focus + label {
  -webkit-box-shadow: inset 400px 0 0 0 rgba(255, 255, 255, 0.5);
          box-shadow: inset 400px 0 0 0 rgba(255, 255, 255, 0.5);
  color: black;
}

.buyTickets:hover,
.buyTickets:focus {
  background: #5d99be;
}
